<h1>First snooze!</h1>
<h2 style="color:red">You have just been charged $5!</h2>

<img src="https://66.media.tumblr.com/94052db228127eadaed1bbd9290e261b/tumblr_nyfsfpIgNA1sok7a0o1_500.gif" width="500px" height=auto >
