<h1>Second snooze!</h1>
<h2 style="color:red">You have just been charged $20!</h2>
<h3>Now your friend is going to help get you out of bed!</h3>

<img src="http://media1.giphy.com/media/zbzZ9gdmODQQM/giphy.gif" width="500px" height=auto >
