<h1>Second snooze!</h1>
<p>You have just been charged $20!</p>
<p>Now Jade is going to help get you out of bed!</p>

<img src="http://media1.giphy.com/media/zbzZ9gdmODQQM/giphy.gif" width="500px" height=auto >
